.itemContainer {
  max-width: 450px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  gap: 5px;
  font-weight: 600;
  p {
    text-align: left;
  }
  .notCompleted {
    color: rgb(44, 1, 1);
    font-size: 18px;
  }
  .isCompleted {
    color: rgb(26, 99, 26);
    text-shadow: 1px 1px 8px white;
  }
  .buttonSection {
    flex-direction: row;
    text-align: left;
    button {
      margin-right: 10px;
    }
  }
  
}

